{% load i18n %}

<hr>
<form>
  <button hx-post="{% url 'djeocad:data_create' pk=object.id %}"
          hx-target="#entity-data"
  >
    {% trans "Add related data" %}
  </button>
  {{ data_form }}
</form>
{% if related_data %}
  <table>
    <tr>
      <th>{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
      <th></th>
      <th></th>
    </tr>
    {% for data in related_data %}
      <tr>
        <td>{{ data.key }}</td>
        <td>{{ data.value }}</td>
        <td>Modify</td>
        <td>Delete</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}
