{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra-head %}
  {% leaflet_js %}
  {% leaflet_css %}
  <style>
    .leaflet-container {  /* all maps */
      height: 600px;
    }
  </style>
{% endblock extra-head %}

{% block content %}
  <h4>{% trans "Change insertion of drawing" %}: {{ drawing.title }}</h4>
  <form action="{% url 'djeocad:insertion_change' pk=object.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
  <a style="cursor: pointer;"
     hx-get="{% url 'djeocad:insertion_delete' pk=object.id %}"
     hx-boost="true"
     hx-confirm="{% trans 'Are you sure you want to delete this insertion?' %}"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  >
    {% trans "Delete insertion" %}
  </a>
  <script id="marker_data" type="application/json">{{ object|geojsonfeature:":insertion"|safe }}</script>
  {% include "djeocad/map_data.html" %}
  <script id="line_data" type="application/json">{{ lines|geojsonfeature|safe }}</script>
  {{ layer_list|json_script:"layer_data" }}
  <script src="{% static 'djeocad/js/change_script.js'%}"></script>
  <div>
    {% leaflet_map "mymap" callback="window.map_init" %}
  </div>
  {% if object.related_data.exists %}
    <table>
      <tr>
        <th>{% trans "Key" %}</th>
        <th>{% trans "Value" %}</th>
        <th></th>
        <th></th>
      </tr>
      {% for data in object.related_data.all %}
        <td>{{ data.key }}</td>
        <td>{{ data.value }}</td>
        <td>Modify</td>
        <td>Delete</td>
      {% endfor %}
    </table>
  {% endif %}
  <script src="{% static "djeocad/js/htmx.min.js" %}"></script>
{% endblock content %}
